body{
    background-color: #292d33;
    justify-content: center;
    align-items:center;
    display: flex;
    height: 100vh;
}
table,th,td{
    border-collapse: collapse;
    border: #555c66 solid 1px;
}
.compare_box{
    background-color: #ffffff;
    color: #111111;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 1.25rem;
    width: 377.91px;
    height: 59px;
    text-align: left;
    padding-left: 10px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.starter_box{
    background-color: #ff9d00;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 1.25rem;
    width: 275.89px;
    height: 59px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.advance_box{
    background-color: #ec3d45;
    color: #ffffff ;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 1.25rem;
    width: 254.67px;
    height: 59px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.enterprise_box{
    background-color: #08b9ca;
    color:#ffffff ;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 1.25rem;
    width: 231.21px;
    height: 59px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.first_box{
    height: 84.67px;
    text-align: left;
    padding-left: 10px;
    font-size: 1.25rem;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}