body{
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: lightgray;
}

form{
width: 380px;
border: 1px solid lightgray;
border-radius: 10px;
height: 550px;
text-align: center;
background-color: white;
border-style: initial;
}


h1{
    color: rgb(31, 31, 101);
    font-weight: bold;

}

p{
    color: gray;

}

input{
    margin-top: 12px;
    margin-left: 40px;
    margin-right: 40px;
    height: 25px;
    width: 250px;
}

button{
    margin-top: 25px;
    height: 35px;
    width: 265px;
    background-color: rgb(88, 67, 223);
    color: white;
    border: none;
    border-radius: 5px;

}

a{
text-decoration: none;
}